<input type="text" placeholder="Buscar">
<h1><%= h1 %></h1>

<div class="inner">

    <% copies.forEach(copy => { %>
        <figure>
            <img src=" <%- copy.image %> " alt=" <%- copy.title %> ">
            <figcaption><%- copy.title %></figcaption>
            <% if (user) { %>
                <a href="/copy/<%- copy.id %>">Ver más información</a> 
            <% } %>
        </figure>
    <% }) %>

</div>